<h3>Register</h3>

<form method ="POST" action="">
    {%csrf_token%}
    {{form.as_p}}
    <a href="{% url 'login_url' %}" class="ml-2">Login</a>
    <input type="submit" name="Create User">
</form method>