{%extends 'index.html' %}
{%block content %}
    <h1>Summary</h1>
    <form method ="POST"> 
        {%csrf_token%}
        <h2>Products</h2>
        <p>title:       {{user.product.title}}</p>
        <p>description: {{user.product.description}}</p>
        <p>comments:    {{user.product.comments}}</p>
        <h1>Cars</h1>
        <p>carname:     {{user.cars.carname}}</p>
        <p>description: {{user.cars.description}}</p>
        <p>carcomments: {{user.cars.carcomments}}</p>
        <h1>Books</h1>
        <p>Bookname:    {{user.books.Bookname}}</p>
        <p>author:      {{user.books.author}}</p>
        <input class="btn btn-primary" type="submit" value="back" />
        <input class="btn btn-primary" type="submit" name="add_text" value="Logout" />
    </form>  

{% endblock %}    