{% extends 'index.html'%}

{% block content %}
   <h1>Product</h1>
   
   <form method ="POST"> 
       {% csrf_token %}
      {{form.as_p}}
      <input class="btn btn-primary" type="submit" value="Save" />
      <input class="btn btn-primary" type="submit" name="add_text" value="Logout" /> 
        
   </form>

{% endblock %}