{% extends 'index.html'%}

{% block content %}
   <h1>Books</h1>
   <form method ="POST">
       {% csrf_token %}
        
        {{form.as_p}}
        <input class="btn btn-primary" type="submit"  value="Save" />
        <input class="btn btn-primary" type="submit" name="back" value="back" /> 
        <input class="btn btn-primary" type="submit" name="add_text" value="logout" />

   </form>
{% endblock %}