{% extends 'index.html'%}

{% block content %}
   <h1>Car</h1>
   <form method ="POST"> 
      {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="Save" />
        <input class="btn btn-primary" type="submit" name="add_text" value="Logout" /> 
        <input class="btn btn-primary" type="submit" name="back" value="back" /> 
   </form>
   <!-- <a href ="{% url 'form' %}">form</a>
   <a href ="{% url 'form3' %}">form3</a> -->
{% endblock %}