<!DOCTYPE html>
<html>
<head>
    <title>Simple Auth System</title>
</head>
<body>
    {%block content %}
        <h1>Welcome Home,Homepage</h1>
        {% if user.is_authenticated %}
             <a href ="{% url 'logout' %}">Logout</a>

            {%else%}
            <a href ="{% url 'login_url' %}">Login</a>
            <a href ="{% url 'register_url' %}">Register</a>


        {% endif %}

    {% endblock %}
</body>
</html>
